MONGODB_URI=your_mongo_URI
JWT_SECRET=jwt_secret
CLOUDINARY_CLOUD_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
STRIPE_SECRET_KEY=your_stripe_secret_key


EMAIL_USER=your_email@gmail.com
EMAIL_PASSWORD=your_email_app_password
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587


PROCESS_PASS=your_google_app_pass
PROCESS_EMAIL=your_google_email